body {
  background-color: whitesmoke;
}

.a {
  display: grid;
  align-items: center;
  justify-items: center;

}

.inside {
  display: flex;
  align-items: center;
  justify-items: center;
  /* margin: 30px;
   outline: 5px solid violet;
   outline-offset: 10px; */
}

p {
  font-family: 'Fira Sans', sans-serif;
}
